# JetBrains IDEs
.idea
.yarn
.editorconfig
.gitattributes
.pnp.cjs
.pnp.loader.mjs
yarn.lock
test.zip
Volume-Scroll.zip
*.zip
node_modules
package-lock.json
.parcel-cache/data.mdb
.parcel-cache/lock.mdb
dist/*
dist-firefox/*
dist-chrome/*
.parcel-cache/*
src/manifest.json
