.volumeScrollOverlay {
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;

  opacity: 0;

  position: absolute;
  z-index: 2147483647 !important;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

  pointer-events: none;
}

@keyframes volumeScrollFade {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.volumeScrollOverlayFade {
  animation-name: volumeScrollFade;
  animation-duration: 2s;
  animation-direction: normal;
}

.body {
  position: relative;
}
