button {
	display: block;
}

* {
	margin: 0px;
	user-select: none;
}

html {
	max-height: 600px;
	min-height: 200px;
	height: auto;
	display: inline-block;
}

body {
	width: 275px;
	max-height: 600px;
	min-height: 200px;
	height: auto;
	background-color: #282A35;
	color: white;
	display: inline-block;
}

#root {
	width: 100%;
}

.centerWrapper {
	display: flex;
	justify-content: center;
	width: 100%;
}

.container {
	width: 80%;
	padding-top: 16px;
	padding-bottom: 16px;
}

footer {
	color: gray;
	padding-bottom: 8px;
	text-align: center;
}

footer a {
	color: #7c2eb8;
}

.Mui-disabled {
	color: white !important;
}

hr {
	margin-top: 4px;
	margin-bottom: 4px;
}

Button {
	font-weight: bold;
	border: white;
	border-top-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-right-style: none;
	border-width: 4px;
	background-color: #2f313e;
	color: white;
	margin-bottom: 16px;
	height: 32px;
	width: 100%;
	text-align: left;
	font-size: 16px;
}