button {
	display: block;
}

* {
	margin: 0px;
	user-select: none;
}

html {
	max-height: 600px;
	min-height: 250px;
	height: auto;
	display: inline-block;
}

body {
	width: 275px;
	max-height: 600px;
	min-height: 250px;
	height: auto;
	background-color: #282A35;
	color: white;
	display: inline-block;
}

.centerWrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 80%;
}

.links {
	color: gray;
	padding-bottom: 8px;
	text-align: center;
}

.links {
	color: gray;
	padding-bottom: 8px;
	text-align: center;
}

.links a {
	color: #7c2eb8;
}

Button {
	font-weight: bold;
	border: white;
	border-top-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-right-style: none;
	border-width: 4px;
	background-color: #2f313e;
	color: white;
	margin-bottom: 8px;
}