.menuContainer {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer {
	color: gray;
	padding-bottom: 8px;
	text-align: center;
	width: 100%;
}

footer a {
	color: #7c2eb8;
}

#buttons {
	width: 100%;
	margin-top: 8px;
	margin-bottom: 8px;
}

#debugIcon {
	position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
	width: 16px;
	height: 16px;
	border-style: solid;
	background-color: red;
	border-radius: 50%;
	border-color: grey;
	border-width: 1px;
}