.menuContainer {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer {
	color: gray;
	padding-bottom: 8px;
	text-align: center;
	width: 100%;
}

footer a {
	color: #7c2eb8;
}

#buttons {
	width: 100%;
	margin-top: 8px;
	margin-bottom: 8px;
}