#defaultVolumeDisplay,
#boostVolumeDisplay,
#alternateIncrementDisplay {
    display: inline-block;
    min-width: 17px;
    background-color: #757575;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 2px;
    text-align: center;
}

#defaultVolumeToggleContainer,
#boostVolumeToggleContainer,
#alternateIncrementToggleContainer,
.domainListActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#domainListInputContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 8px;
}

.manualDomainInput input {
    color: white;
}

.manualDomainInput label {
    color: gray;
}

.manualDomainInput .MuiOutlinedInput-root fieldset {
    border-color: rgba(25, 118, 210, 0.5);
}

.manualDomainInput .MuiOutlinedInput-root:hover fieldset {
    border-color: #1976d2;
}

.manualDomainInput .MuiOutlinedInput-root.Mui-focused fieldset {
    border-color: #1976d2;
}

.manualDomainInput .MuiInputLabel-root.Mui-focused,
.manualDomainInput .MuiInputLabel-root.MuiInputLabel-shrink {
    color: #1976d2;
}