.sliderDisplay {
    display: inline-block;
    width: 17px;
    background-color: #757575;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 2px;
    text-align: center;
}

.sliderDisplayContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

#overlayPositionDropdownContainer {
    margin-top: 16px;
}

#overlayPositionSelector, #overlayPositionDropdownContainer {
    width: 100%;
}

.twitter-picker {
    background-color: #191b21 !important;
}

.twitter-picker > div:nth-child(1), .twitter-picker > div:nth-child(2) {
    border-bottom-color: #191b21 !important;
}

.twitter-picker > div:nth-child(3) {
    padding-left: 23px !important;
    padding-right: 17px !important;
    padding-top: 23px !important;
    padding-bottom: 17px !important
}

#colorDisplay {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 16px;
}