#defaultVolumeDisplay {
    display: inline-block;
    width: 17px;
    background-color: #757575;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 2px;
    text-align: center;
}

#defaultVolumeToggleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}