#defaultVolumeDisplay,
#boostVolumeDisplay {
    display: inline-block;
    min-width: 17px;
    background-color: #757575;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 2px;
    text-align: center;
}

#defaultVolumeToggleContainer,
#boostVolumeToggleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}